<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
          <ion-card *ngFor="let item of items | slice:0:t;let i = index">

                <ion-card-header (click)=changeVisiblity(i)>
                    <div style="float:right">
                        <i class="fas fa-eye fa-md" style="margin-right: 20%;">{{item.visiblityCount}}</i>
                        <i class="fas fa-caret-down fa-sm" aria-hidden="true"></i>
                    </div>
                   <span class="question">{{item.question}} </span>           
                </ion-card-header>
              
                <ion-card-content *ngIf="item.visiblity" class="answer" [innerHtml]="item.formatted_answer" >
                  
                </ion-card-content>
              
          </ion-card>

          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
              <ion-infinite-scroll-content loadingSpinner="bubbles"
              loadingText="Loading more data..."></ion-infinite-scroll-content>
            </ion-infinite-scroll>

           
            

</ion-content>
